<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="application" xsi:type="File" fileName="application.log" />
    <target name="prettyConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="application,prettyConsole" />
  </rules>
</nlog>